:root {
  --primary-dark: hsl(0, 0%, 0%);
  --secondary-dark: hsl(0, 0%, 49%);
  --primary-light: hsl(0, 0%, 100%);
  --secondary-light: hsl(0, 0%, 95%);
  --tertiary-light: hsl(0, 0%, 90%);
  --border-light: 2px solid var(--tertiary-light);
}

body {
  margin: 0;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.85);
    // visibility: hidden;
  }
  overflow: hidden;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}