@use '@/partials/mixins';

.header-wrapper {
  border-bottom:  var(--border-light);
  @include mixins.container;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 1.5rem 0;

  svg {
    width: 125px;
    height: auto;
  }
}

.slideshow-btn {
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-top: 5px;
  @include mixins.transition;
}

@include mixins.for-min-size(600px) {
  header {
    svg {
      width: 170px;
      height: auto;
    }
  }
}

@include mixins.for-min-size(1000px) {
  header {
    border-bottom: var(--border-light);
  }

  .header-wrapper {
    border: none;
  }
}