@use '@/partials/mixins';

:root {
  --gallery-column-count: 1;
}

.gallery {
  column-count: var(--gallery-column-count);
  column-gap: var(--gap-size);
  @include mixins.container(var(--gap-size));
  margin-bottom: 4rem;
}

.image-card { 
  margin-bottom: var(--gap-size);
}

@include mixins.for-min-size(550px) {
  :root {
    --gallery-column-count: 2;
  }
}

@include mixins.for-min-size(800px) {
  :root {
    --gallery-column-count: 3;
  }
}

@include mixins.for-min-size(1100px) {
  :root {
    --gallery-column-count: 4;
  }
}