@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  color: var(--primary-dark);
}

.view-image-btn,
.close-btn,
.description-wrapper a,
.view-image-btn span,
.slideshow-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.close-btn,
.view-image-btn span,
.painting-year,
.description-wrapper p,
.source-link,
.slideshow-btn {
  font-weight: 700;
}

.slideshow-btn {
  text-align: right;
}

.description-wrapper {
  color: var(--tertiary-light);
}

.slideshow-btn,
.painting-author,
.description-wrapper p,
.source-link {
  color: var(--secondary-dark);
}

.close-btn,
.gallery,
.view-image-btn {
  color: var(--primary-light);
}

.gallery .painting-author {
  color: hsl(0, 0%, 80%);
}

.painting-name {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.slideshow-control span {
  color: var(--primary-dark);
}

.source-link,
.view-image-btn,
.slideshow-btn,
.close-btn {
  font-size: 0.8rem;
}

.slideshow-control {
  .painting-name {
    font-size: 1.3rem;
  }

  .painting-author {
    font-size: 0.9em;
  }
}