@use '@/partials/mixins';

.image-card {
  a {
    display: block;
    position: relative;
  }

  .painting-name {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }
}

.image-wrapper::before {
  content: '';
  position: absolute;
  visibility: hidden;
  opacity: 0;
  inset: 0;
  background: hsla(0, 0%, 100%, 0.2);
  @include mixins.transition(visibility, opacity);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  padding: var(--gap-size);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 50;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.753) 20%, transparent 60%);
}

// painting name font-size alterations
$breakpoints: (
  450px, 500px,
  600px, 800px,
  930px, 1100px, 
  1280px
);

@for $i from 1 through length($breakpoints) {
  $size: nth($breakpoints, $i);
  @include mixins.for-min-size($size) {
    .image-card {
      @if $i % 2 == 0 {
        .painting-name {
          font-size: 1.2rem;
        }
      } @else {
        .painting-name {
          font-size: 1.5rem;
        }
      }
    }
  }
}
