@use '@/partials/mixins';

.slideshow-control {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  @include mixins.container(0, var(--gap-size));
  border-top: var(--border-light);
  position: relative;  
}

.progress-bar {
  display: block;
  position: absolute;
  background-color: var(--primary-dark);
  height: 1px;
  width: 30%;
  top: 0;
  translate: 0 -1px;
  left: 0;
  right: 0;
}

.control-buttons {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  button {
    padding: 0.5rem;
    @include mixins.transition;
  }

  button:hover {
    color: var(--secondary-dark);
  }

  button:disabled {
    color: hsla(0, 0%, 0%, 0.2);
    pointer-events: none;
  }

  button:last-of-type {
    padding-right: 0;
  }
}

@include mixins.for-min-size(1000px) {
  .slideshow-control {
    border-top: var(--border-light);
    position: relative;
  }
}