@use '@/partials/mixins';


.control-wrapper {
  @include mixins.container;
  border-top: var(--border-light);
}

.slideshow-control {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  padding: var(--gap-size) 0;

  .painting-name {
    margin-bottom: 0.6rem;
    margin-top: 0;
  }
}

.control-buttons {
  display: flex;
  align-items: center;

  button {
    padding: 1rem;
  }

  button:last-of-type {
    padding-right: 0;
  }
}

@include mixins.for-min-size(1000px) {
  .control-wrapper {
    border-top: none;
  }

  .slideshow-control {
    border-top: var(--border-light);
  }
}