.controls-container {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  border-top: var(--border-light);

  .painting-name {
    margin-bottom: 0.6rem;
    margin-top: 0;
  }
}

.control-buttons {
  display: flex;
  align-items: center;

  button {
    padding: 1rem;
  }
}

.container.controls-container {
  padding: 1rem 1.5rem;
}