@use '@/partials/mixins';

:root {
  --modal-visibility: hidden;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 50;
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;

  .painting-img {
    max-width: 70vmin;
  }
}

.close-btn {
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-left: auto;
  @include mixins.transition;
}

.close-btn:hover {
  color: hsl(0, 0%, 80%);
}

body {
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.85);
    visibility: var(--modal-visibility);
  }
}