@use '@/partials/mixins';

.painting-page {
  @include mixins.container(calc(var(--gap-size) * 2), 5px);
}

.painting-wrapper {
  position: relative;
}

.painting-overlay {
  position: absolute;
  background-color: var(--primary-light);
  translate: 0 -50%;
  left: 0;
  width: 85%;
  padding: 1.5rem;
}

.view-image-btn {
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: 1rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  position: absolute;
  top: var(--gap-size);
  left: var(--gap-size);
  @include mixins.transition(background-color);

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.85);
    color: var(--primary-dark);
  }

  svg {
    width: 17px;
    height: 17px;
  }

  span {
    margin-top: 2px;
  }
}

.artist-img {
  position: absolute;
  translate: 0 1.5rem;
  max-width: 15vmin;
}

.artist-img-lg {
  display: none;
}

.description-wrapper {
  position: relative;
  margin-top: 14rem;

  a {
    text-decoration: underline;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 4rem 0;
    @include mixins.transition;
  }

  a:hover {
    color: var(--primary-dark);
  }
}

.painting-year {
  position: absolute;
  font-size: 7rem;
  top: 0;
  right: 0;
  translate: 0 -70%;
  z-index: -1;
}

@include mixins.for-min-size(700px) {
  .painting-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    translate: -60px 0;
  }

  .view-image-btn {
    bottom: var(--gap-size);
    top: unset;
  }

  .painting-overlay {
    left: unset;
    right: 0;
    top: 0;
    translate: 50% 0;
    width: 60%;
    padding: 0 0 3rem 3rem;

    .painting-name {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    .artist-img {
      left: 50%;
      translate: 1.5rem 0;
      top: 100%;
      width: 120px;
    }
  }

  .description-wrapper {
    margin-top: 10rem;
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
  }

  .painting-year {
    font-size: 10rem;
    right: unset;
    translate: -10% -60%;
  }

  .painting-img {
    max-width: 450px;
  }
}

@include mixins.for-min-size(820px) {
  .painting-year {
    translate: -25% -60%;
  }

  .painting-img {
    max-width: 500px;
  }
}

@include mixins.for-min-size(1220px) {
  .painting-page {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7rem;
  }

  .artist-img-lg {
    display: block;
    position: absolute;
    right: 0;
    translate: calc(100% + var(--gap-size)) -50%;
  }

  .painting-wrapper {
    translate: 0 0;
    margin-right: 0;
    margin-left: 0;
  }

  .painting-overlay {
    translate: 60% 0;

    .artist-img {
      display: none;
    }
  }

  .painting-year {
    right: 0;
    translate: 15% -45%;
    font-size: 11rem;
  }

  .description-wrapper {
    max-width: 35ch;
    margin-right: 4rem;
  }

  .description-wrapper {
    margin-top: 6rem;

    p {
      margin-top: 3rem;
      margin-bottom: 0;
    }

    a {
      margin-top: 8rem;
      margin-bottom: 0;
    }

  }
}